#socreboard {
    position: absolute;
    padding-left: 80%;
}

#gameWindow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding-left: 20%;
    text-align: center;
}

#gameWindow img {
    width: 200px;
    height: 200px;
}

li {
    position: relative;
    list-style-type: none;
    font-size: 25px;
}